.dark-mode{
    background-color: #212121;
    color: #e5e5e5;
  
    .modal{
      background-color: lighten(#212121, 5%);
      color: #e5e5e5;

      &__cross{
          fill: #e5e5e5;
      }
  
      input{
        background-color: lighten(#212121, 10%);
        border-color: lighten(#212121, 20%);
        
        &::placeholder{
          color: rgba(#e5e5e5, 0.8);
        }
      }
    }
  }